* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
    font-weight: bold;

}

 :root {
    /* colors */
    --main-color: #2196f3;
    --color-secondary: #111;
    --color-text: #898989;
    --color-light: #f4f4f4;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
    /* fonts */
    --font-primary: 'open sans', helvetica, arial, sans-serif, sans-serif;
    --font-bold: 700;
    --font-light: 400;
    --font-size-text: 13px;
    --font-size-title: 20px;
    --font-size-SECTION-title: 48px;

    /* size */
    --size-primary: 25px;
    --size-double: calc(var(--size-primary)*2);
    --size-half: calc(var(--size-primary)/2);

    --margin-primary: var(--size-primary);
    --padding-primary: var(--size-primary);

    --margin-double: var(--size-double);
    --padding-double: var(--size-double);

    --padding-half: var(--size-half);
    --margin-half: var(--size-half);

    --height-primary: 70px;

}
/* Small */
@media (max-width: 425px) {
    
    .header .main-nav {
            margin: auto;
        }
    
        .header .logo {
            width: 100%;
            height: 10v ;
        }
    
        .header .main-nav .icon {
            top: 33%;
            right: 65%;
        }
      
}

/* Medium */
@media (max-width: 768px) {


    .header .main-nav .icon {
        bottom: 0;
        left: 40%;
            margin: 8px;
    } 
}

/* Large */
@media (max-width: 1200px) {
/* .landing .text {
        flex: 1;
    } */
}
a {
    text-decoration: none;
    /* نفس لون الخط في الحاوي لها */
        color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* --------------- */
.main-ti {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    border-radius: 10%;
    transition: var(--main-transition);
}

.main-ti::before,
.main-ti::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-ti::before {
    left: -30px;
}

.main-ti::after {
    right: -30px;
}

.main-ti:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-ti:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-ti:hover {
    color: rgb(0, 0, 0);
    border: 2px solid white;
    transition-delay: .5s;
}
/* --- */

/* --------------- */
#header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

#header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .main-nav {
    display: flex;
    margin: auto;
}
#header .main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 40px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
     animation:  5s linear infinite;
}
#header .main-nav .icon{
    position: absolute;
    color: var(--main-color);
    bottom: 0;
    left: 40%;
}
@media (max-width: 767px) {
    #header .main-nav>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
        transition: var(--main-transition);
    }
}

#header .main-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    bottom: 0;
    left: -100%;
    transition: var(--main-transition);
}

#header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

#header .main-nav>li>a:hover::before {
    left: 0;
}
/* End Header */
/* Start Landing */
.landing {
    position: relative;
    /* background-color: #111;
    color: wheat; */
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-4deg);
    transform-origin: top left;
}

.landing  h1 {
    font-size: 30px;
    margin: 0;
}
.landing p {
    font-size: 20px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}
.landing .image img {
    position: relative;
    width: 300px;
/*     animation: up-and-down 5s linear infinite; */
} 
.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}
.bn62 {
    width: 80px ;
  color: var(--main-color);
  background-color: var(--section-background);
  border: var(--main-color) 1px solid;
  border-radius: 50px;
  height: 2em;
  font-size: large;
  font-weight: 600;
}
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
    
}

.services .container-services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
   
}

.services .box::before {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    /* bottom: -3px; */
    background-color: var(--main-color);
    position: absolute;
    width: 0;
    transition: var(--main-transition);
}

.services .box:hover {
    transform: translateY(-10px);
}

.services .box:hover::before {
    width: 100%;
}

.services .box .icon{
    margin: 30px auto 20px;
    display: block;
    text-align: center;
    color: #d5d5d5;
}

.services .box>h3 {
    text-align: center;
    margin: 20px 0 40px;
    font-size: 25px;
    color: var(--main-color);
}

.services .box .info {
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
}

.services .box .info::before {
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.services .box .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
}

.services .box .info a {
    color: var(--main-color);
}

/* End Services */
/* Start Animation */

@keyframes up-and-down {

    0%,
    100% {
        right: 20px;
    }

    50% {
        right: -20px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

@keyframes change-background {

    0%,
    100% {
        background-image: url("../imgs/discount-background1.jpg");
    }

    50% {
        background-image: url("../imgs/discount-background2.jpg");
    }
}

/* End Animation */
.skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
    
}

.skills .container-skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
}
.skills .box2 {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: skills;
    transition: var(--main-transition);
    position: relative;
}

.skills .box2::before {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;   
    background-color: var(--main-color);
    position: absolute;
    width: 0;
    transition: var(--main-transition);
}

.skills .box2:hover {
    transform: translateY(-10px);
}

.skills .box2:hover::before {
    width: 100%;
}
.skills .box2 .icon {
    margin: 30px auto 20px;
    display: block;
    text-align: center;
}

.skills .box2>h3 {
    text-align: center;
    margin: 20px 0 40px;
    font-size: 25px;
    color: var(--main-color);
}

.skills .box2 .info {
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: center;
}

.skills .box2 .info::before {
    content: "0" counter(skills);
    position: absolute;
    /* transform: skewY(-3deg);
        transform-origin: top left; */
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    border-radius: 0 50% 0 50%;
    /* box-shadow: #111 #fafafa; */
}

.skills .box2 .info::after {
    content: "";
    position: absolute;
    /* background-color: #d5d5d5; */
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
}

.skills .box2 .info a {
    color: var(--main-color);
}

/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.footer{
    position: relative;
    margin: 0;
   
}
.footer .svgfooter {
	position: absolute;
	bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
		box-sizing: border-box;
		display: inline-block;
		background-color: #0e4166;
    background-image: linear-gradient(to bottom, rgba(19, 118, 189, 0.86), #0e4166);
    z-index: -1;
	}

/*---------------------------------------?*/
.toUp {
    position: fixed;
    right: -10px;
    border: none;
    bottom: 20px;
    padding: 5px 11px;
    font-size: 22px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    

}

.toUp:hover {
    background-color: var(--main-color-alt);
}

.show {
    opacity: 1;
    right: 20px;
}

.scroller {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    z-index: 1111;
    
}

/* -------------------------------فشسف ------------------- */
